<div class="container margin">
  <div class="row">
    <div class="col-md-8 col-md-offset-4">

      <p>Q: <%= @query %> </p>
      <p>A:</p>
      <p><%= link_to "Ask another question", ask_path %></p>

    </div>
  </div>
</div>
